* {
    margin: 0;
    padding: 0;
    outline: 0;
}
.container{
    width:1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    /*    background: -webkit-linear-gradient(to right, red, green, orange);*/
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    padding: 50px 80px;
    margin: 30px 0 0 0px;
    display: inline-block;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
     /* transition: background 2s, border-radius 1s, padding 3s, transform 2s, skewX 0.5s; */
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;

}

.link_1{
    background: linear-gradient(to top, red, green, orange);
    transition: all 1s ease-in;
}

.link_2{
    background: radial-gradient(red, green, orange);
    transition: all 1s ease-in;
}

.link_3{
    background: linear-gradient(to bottom, red, green, orange);
    transition: all 1s ease-in;
}
.link_4{
    background: linear-gradient(to left, red, green, orange);
}

.link_5{
    background: radial-gradient(red, green, orange);
}

.link_6{
    background: linear-gradient(to right, red, green, orange);
}


.link_7{
    background: linear-gradient( red, purple, orange, pink,lime);
}

.link_8{
    background: radial-gradient(red, purple, orange, pink,lime);
}

.link_9{
    background: linear-gradient( purple,lime);
}

.link_10{
    font-size: 75px;
    border: 1px solid #000;
    padding: 20px 20px;
    background: -webkit-linear-gradient(rgb(250, 4, 4), rgb(5, 255, 38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link_11{
    font-size: 75px;
    border: 1px solid #000;
    padding: 20px 20px;
    background: -webkit-linear-gradient(rgb(255, 251, 0), rgb(17, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link_12{
    font-size: 75px;
    border: 1px solid #000;
    padding: 20px 20px;
    background: -webkit-linear-gradient(rgb(103, 0, 221), rgb(255, 5, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link:hover {
    /* border-radius: 50px; */
    
      
}

.link_1:hover {
    transform: rotateX(360deg);
}

.link_2:hover {
    transform: rotate(360deg);
}

.link_3:hover {
    transform: rotateY(360deg);
}

.link_4:hover {
    transform: skewX(30deg);
}

.link_5:hover {
    transform: skewY(15deg);
}

.link_6:hover {
    transform: skew(-30deg);
}

.link_7:hover {
    transform: scale(1.5);
}

.link_8:hover {
    transform: translateY(-65px);
}

.link_9:hover {
    transform: scale(0.60);
}
