* {
    margin: 0;
    padding: 0;
    outline: 0;
}


.container {
    width: 1150px;
    margin: 0 auto;
    position: relative;
}

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}

.logo a {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.head .menu {}

.head .menu ul {}

.head .menu ul li {
    display: inline;
    list-style-type: none;

}

.head .menu ul li a {
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    border-radius: 10px;
    transition: 0.3s;
}

.head .menu ul li a:hover {
    border-radius: 10px;
    background: #888;
    transition: 0.3s;
}

.hero-bd {
    padding-top: 120px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
}

.hero-bd .tittle {
    width: 40%;
}

.hero-bd .tittle h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 6px 6px 9px black;
}

.hero-bd .tittle h3 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-shadow: 6px 6px 9px rgba(235, 0, 255, 0.8);
    margin: 30px 0px;
}

.hero-bd .tittle button {
    background: red;
    padding: 10px 30px;
    outline: 0;
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 25px 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 40px;
}

.hero-bd .tittle button:hover {
    border-radius: 10px 25px;
    transition: 0.3s;
    color: #000;
    letter-spacing: 1px;
}

.hero-bd .dis {
    width: 50%
}

.hero-bd .dis p {
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    text-align: justify;
    text-shadow: 6px 6px 9px #000;
}

.main-about {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
    width: 100%;
}

.left-image {
    width: 30%;
    border: 5px solid #888;
    border-radius: 15px;
    position: relative;
}

.left-image:before {
    position: absolute;
    content: "";
    border: 5px solid #000;
    top: 5px;
    left: 5px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
}

.left-image:after {
    position: absolute;
    content: "";
    border: 5px solid #363636;
    top: -15px;
    right: 5px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
}

.right-content {
    width: 50%;
}

.right-content p {
    font-size: 25px;
    text-align: justify;
    text-transform: capitalize;
}

.left-image img {
    width: 100%;
}

.right-content button {
    background: red;
    padding: 10px 30px;
    outline: 0;
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 25px 10px;
    transition: 0.3s;
    cursor: pointer;
    margin: 40px 20px;
}

.right-content button:hover {
    border-radius: 10px 25px;
    transition: 0.3s;
    color: #000;
    letter-spacing: 1px;
}






/**/

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.images img {
    width: 100%;
    border-radius: 10px;
}

.jibon,
.wccode,
.ruma {
    width: 100%;
    background: lightgreen;
    padding: 20px;
    border-radius: 20px;
    ;
    text-align: center;
}

.jibon h2,
.wccode h2,
.ruma h2 {
    margin-top: 15px;
    color: red;
}

.jibon h3,
.wccode h3,
.ruma h3 {
    color: deeppink;
    margin: 15px 0px;
}

.jibon p,
.wccode p,
.ruma p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}

.mar-15 {
    margin: 15px;
    width: 100%;
    transition: 0.3s;
}

.mar-15:hover {
    background: #25ff25;
    transition: 0.3s;
}

.mar-15:hover button {
    background: #888;
    color: #000;
    transition: 0.3s;
}

.mar-15:hover .social ul li a {
    background: #000;
    color: #fff;
    transition: 0.3s;
}

.jibon button,
.wccode button,
.ruma button {
    background: red;
    padding: 5px 15px;
    outline: 0;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 40px;
    float: right;
}

.mar-15 .social {}

.mar-15 .social ul {
    margin: 0;
    padding: 0;
}

.mar-15 .social ul li {
    display: inline-block;
}

.mar-15 .social ul li a {
    text-decoration: none;
    padding: 10px;
    background: #888;
    border-radius: 50%;
    margin: 10px 0px;
}

























/**/
