*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 ,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif !important;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
img{
    vertical-align: middle;
}
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
*/
body{
    /* color: #fff; */
    font-family: 'Poppins', sans-serif !important;
}

/* Site Css */

#topbar{
    padding: 10px 0px;
}
/* .top-left{
    display: flex;
} */

.top-left .number a, .top-left .social h2, .top-right .login-register a{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    color: #b6b6b6;
    text-decoration: none;
    transition: 0.3s;
}
.top-left .social{
    display: flex;
}
.top-left .social h2{
    margin: 0px 0px 0px 40px;
    line-height: 25px;
}

.top-left .social ul{
    padding: 0;
    margin: 0px 0px 0px 20px;
}
.top-left .social ul li{
    display: inline-block;
}
.top-left .social ul li a{
    text-decoration: none;
    color: #b6b6b6;
    margin: 0px 3px;
    transition: 0.3s;
    font-size: 10px;
    
}
.top-left .social ul li a:hover, .top-left .number a:hover,.top-right .login-register a:hover{
    color: #ff1949;
}

.top-right .login-register a{
    margin: 0px 5px;
}


/* Header Start */
#header{
    padding: 30px 0;
}
.logo a img {
    width: 200px;
}
.menu .link-menu li, .menu .icon-menu li{
    display: inline-block;
}
.menu .link-menu li a,
.menu .icon-menu li a{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; 
    color: #252525;
    text-decoration: none;
    margin: 0 25px;
    transition: 0.3s;
}
.menu .icon-menu li a{
    margin: 0 10px!important;
}
.menu .link-menu li a:hover, .menu .link-menu li a.active{
    border-bottom: 3px solid #ff1949;
}
.menu .icon-menu li a:hover{
    color: #ff1949;
}

/* =========== Sidenv =========== */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 80px 0px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav-content{
    color: #fff;
    padding: 0 60px;
}
.sidenav-content .logo{
    position: relative;
    margin-bottom: 50px;
}
.sidenav-content .logo::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #ff1949;
    height: 2px;
    width: 60px;
    transition: 0.3s;
}

.sidenav-content .content{
    margin-bottom: 30px;
}

.sidenav-content .course h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.sidenav-content .course ul li{
    margin: 15px 0;
}
.sidenav-content .course ul li img {
    width: 90px;
    height: 70px;
    margin-right: 15px;
}

.sidenav-content .course ul li span{
    display: block;
}
/* =========== Sidenv =========== */


/* Header End */

/* Hero Section Start */
.carousel-caption {
    position: absolute;
    right: 15%;
    text-align: left;
    top: 20%;
}
.hero-content h5{
    font-size: 92px !important;
    font-family: 'Poppins', sans-serif !important; 
    font-weight: 900 !important;
    margin: 0 0 35px 0;
    position: relative;
}
.hero-content h5:before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 8px;
    background-color: #fff;
    height: 4px;
    width: 100px;
}
.hero-content p{
    font-size: 19px !important;
    font-family: 'Poppins', sans-serif !important; 
    font-weight: 500 !important;
    width: 300px;
}
.hero-content .btn{
    border: 2px solid #fff;
    padding: 15px 25px;
    color: #fff;
    font-family: 'Poppins', sans-serif !important; 
    font-weight: bold;
    margin: 20px 0;
}

.hero-content .active{
    background: #ff1949;
    border: 2px solid #ff1949;
    margin-left: 15px;
}
/* Hero Section End */

/* Course start */
#course{
    padding: 50px 0;
}
.cer_btns {
margin: 40px 0;
}
.cer_btns .cer-item{
    border: none;
    background: transparent;
    margin-right: 20px;
    font-weight: 700;
    color: #252525;
    font-size: 17px;
    font-family: 'Poppins', sans-serif !important; 
}
.cer_btns .cer-item i{
    color: #ff1949;
    visibility: hidden;
    transition: 0.3s;
}
.cer_btns .cer-item:hover i{
    visibility: visible;
}
.cer_btns .active i{
    visibility: visible !important;
}

.course_wrap .cer-item{
    overflow: hidden;
    transition: .5s ease-out;
}
.course_wrap .cer-item:hover .cer-img img{
    transform: scale(1.1);
    transition: transform .5s ease-out;
}
.course_wrap .cer-item .cer-img{
    overflow: hidden;
    margin: 0 0 20px 0;
    position: relative;
}
.course_wrap .cer-item .cer-tag{
    position: absolute;
    bottom: 25px;
    right: 0;
    padding: 10px 20px;
    background: #ff1949;
    transition: 0.3s;
}
.course_wrap .cer-item .cer-tag:hover{
    background-color: #252525;
}
.course_wrap .cer-item .cer-tag h2{
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.course_wrap .cer-item .cer-img img{
    width: 100%;
    height: auto;
    transition: 0.3s;
}
.course_wrap .cer-item .cer-content h2{
    font-size: 20px;
    font-weight: 700;
    color: #252525;
    font-family: 'Poppins', sans-serif !important;
}
.course_wrap .cer-item .cer-content h3{
    font-size: 15px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 30px;
    position: relative;
}
.course_wrap .cer-item .cer-content h3:before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #ff1949;
    height: 4px;
    width: 60px;
    transition: 0.3s;
}

.course_wrap .cer-item:hover .cer-content h3:before{
    width: 80px;
    transition: .5s ease-out;
}

.course_wrap .cer-item .cer-content p{
    font-size: 15px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin: 30px 0;
}

.course_wrap .cer-item .cer-fot .fot-left span{
    font-size: 15px;
    color: #252525;
    margin-right: 15px;
    
}

.course_wrap .cer-item .cer-fot .fot-right h2{
    color: #ff1949;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 600;
}
.course_wrap .cer-item .cer-fot .fot-right h2:hover{
    text-decoration: underline;
}
/* Course End */


/* expert start */

#expert{
    padding: 30px 0;
}


.ex-sec .ex-item1{
    background: #ff1949;
    padding: 140px 13% 140px 13% !important;

}
.ex-sec .ex-item1 h2{
    font-size: 45px;
    color: #fff;
    font-weight: 700;
}
.ex-sec .ex-item1 a{
    color: #fff;
    font-size: 17px;
}
.ex-sec .ex-item2{
    background: url(../images/course/main-home-img-2.jpg) no-repeat ;
}
.ex-sec .ex-item3{
    background: url(../images/course/main-home-img-3.jpg) no-repeat ;
}
.ex-sec .ex-item4{
    padding: 140px 13% 140px 13% !important;
}
.ex-sec .ex-item4 h2{
    font-size: 45px;
    color: #252525;
    font-weight: 700;
}
.ex-sec .ex-item4 a{
    color: #444444;
    font-size: 17px;
}
/* expert End */

/* professionals start */

.profession .head  h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 45px;
    color: #252525;
    font-weight: 900;
    position: relative;
    margin-bottom: 20px;
}
.profession .head  h2::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #ff1949;
    height: 2px;
    width: 60px;
    transition: 0.3s;
}
.profession .head  p{
    font-family: 'Poppins', sans-serif !important;
    padding-top: 20px;
    width: 530px;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 85px;
}
.profession .content .prof-item{
    margin-bottom: 50px;
}
.profession .content .prof-item .item-content{
    vertical-align: middle !important;
    padding: 30px 0;
}

.profession .content .prof-item .imgs img{
    width: 100%;
}

.profession .content .prof-item .item-content a{
    color: #252525;
    font-weight: 900;
    font-size: 20px;
}

.profession .content .prof-item .item-content h3{
    color: #252525;
    font-weight: 400;
    line-height: 35px;
    font-size: 15px;
}

.profession .content .prof-item .item-content ul li a{
    margin: 0 5px;
    font-size: 12px;
}
/* professionals end */

/* Testimonials Start */
.maintesti{
    background: url(../images/testimonials.jpg) no-repeat center;
    padding: 150px;
}
.test-slider .testi-item .testi-image img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.test-slider .testi-item .testi-content {
    margin: 0 90px;
    color: #fff;
}
.video-item-image img{
    width: 100%;
}

.video-item-image {
    position: relative;
}
.video-item-image button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btnsvd{
    outline: 0;
    border: 0;
    border-radius: 50%;
}
.test-arrow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 55 ;
}
.testprev{
    position: absolute;
    top: 115%;
    left: 20%;
    background: transparent;
    border: none;
    font-size: 35px;
    color: #fff;
}
.testnext{
    position: absolute;
    top: 115%;
    left: 30%;
    background: transparent;
    border: none;
    font-size: 35px;
    color: #fff;
}

/* Testimonials End */


/* Video Part Start */
.video-main {
    padding: 130px 0;
}
.video-main .content h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 45px;
    font-weight: 800;
    color: #252525;
    position: relative;
    margin-bottom: 40px;
}
.video-main .content h2::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #ff1949;
    height: 2px;
    width: 60px;
    transition: 0.3s;
}

.video-main .content p{
    margin-top: 40px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 19px;
    color: #333;
    font-weight: 300;
}
.video-main .content ul{
    padding: 35px 0 0 0;
}
.video-main .content ul li{
    padding: 5px;
    position: relative;
}
.video-main .content ul li i{
    margin-right: 10px;
    color: #ff1949;
    font-weight: 500;
}
/* Video Part End */

/* Partner Part Start */
#partner{
    background: url(../images/partner-bg.jpg) repeat ;
    padding: 90px 0;
}
.partner-main .partner-slider .partner-item {
    cursor: grab;
}
.partner-main .partner-slider .partner-item .imgs img{
    filter: grayscale(100%);
    transition: 0.3s;
}

.partner-main .partner-slider .partner-item .imgs img:hover{
    filter: grayscale(0%);
    transition: 0.3s;
}
/* Partner Part End */

/* Apply part start */
#apply{
    background: url(../images/apply-bg.jpg) no-repeat ;
    padding: 150px ;
    background-attachment: fixed;
}
.apply-main .left{
    background: #ff1949;
    padding: 140px 100px;
    
}
.apply-main .left h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 45px;
    color: #fff;
    font-weight: 900;
}

.apply-main .right{
    background: #fff;
    padding: 70px;
    position: relative;
}

.apply-main .right .apply-form h2{
    font-weight: 700;
}

.apply-main .right .apply-form form ul li {
    display: block;
    padding: 10px 0;
}

.apply-main .right .apply-form form ul li input[type=text] , .apply-main .right .apply-form form ul li input[type=email] ,.apply-main .right .apply-form form ul li input[type=number]
{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #888 ;
    padding: 10px ;
}

.apply-main .right .apply-form form ul li input[type=submit]{
    background: #252525;
    padding: 15px 30px;
    color: #fff;
    font-weight: 700;
    margin-top: 50px;
    transition:  0.3s;
    border: 0;
}
.apply-main .right .apply-form form ul li input[type=submit]:hover{
    background: #ff1949;
}
.apply-main .right :after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 15px;
    margin-top: -15px;
    border-right-color: #fff;
    z-index: 5;
    
}
/* Apply part End */


/* Footer part start */
#footer{
    background: #252525;
    padding: 115px 0 0 0;
    color: #fff;
}
#footer a{
    color: #fff;
    transition: 0.3s;
}
#footer a:hover{
    color: #ff1949;
}
.main-footer .about h2,.main-footer .course h2, .main-footer .support h2,.main-footer .learing h2{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 20px;
}
.main-footer .about p{
    margin-bottom: 25px;
}
.main-footer .about ul li{
    display: block;
    margin-bottom: 10px;
}
.main-footer .about ul li a i{
    margin-right: 10px;
}

.main-footer .course ul li{
    display: block;
    margin-bottom: 15px;
}
.main-footer .course ul li a{
    font-weight: 900;
}
.main-footer .course ul li a span{
    display: block;
    font-weight: 300;
    color: #dadada;
}
.main-footer .course ul li a span:hover{
    color: #ff1949;
}

.main-footer .support ul li{
    display: block;
    margin-bottom: 10px;
}

.credit-footer{
    background: #1d1d1d;
    padding: 15px 0 30px 0;
    color: #b6b6b6;
    margin-top: 50px;
}
.credit-footer a {
    color: #b6b6b6!important;
}.credit-footer a:hover {
    color: #ff1949 !important;
}
.credit-footer .left h2{
    font-size: 14px;

}
.credit-footer .right a{
    margin-right: 20px;
    font-size: 14px;

}
.credit-footer .right h2{
    font-size: 14px;
    margin-right: 15px;
}
/* Footer part end */